body{
	font-family: "lato";
	margin-left: 200px;
	margin-right: 200px;

}

li,a{
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-right: 17px;
	font-size: 18px;
}
a:hover{
	text-decoration: underline;
}

button{
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	padding: 10px 20px ;
    cursor: pointer;
}
.button1{
	background-color: transparent;
	border: #1dbffb solid;
}
.button1:hover{
	background-color:#1dbffb;
}
.button2{
	background-color: #1dbffb;
	border: #1dbffb solid;
}
.button2:hover{
	background-color: transparent;
	border: #1dbffb solid;
}

section{
	color: white;
	font-size: 30px;
	margin-top: 100px;
}
.button3{
	background-color:#1dbffb;
	border: #1dbffb solid;
	padding: 10px 60px;
}
.button3:hover{
	background-color: transparent;
	border: #1dbffb solid;
}

.button4{
	color: white;
	background-color:transparent;
	border: white solid;
}
.button4:hover{
	color: #1dbffb;
	background-color: white;
	border: white solid;
}
.button5{
	color: #1dbffb;
	background-color: white;
	border: white solid;
}
.button5:hover{
	color: white;
	background-color: transparent;
	border: white solid;
}

aside{
	  width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 15px;
      float: right;
      font-style: italic;
      background-color: #1dbffb69;
}

.fig{
	width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.box{
	background-color: #1dbffb;
	min-height: 10px;
}

footer{
	background-color: #222222d4;
	min-height: 10px;
	padding: 20px;
	color: white;
	font-size: 18px;
}

input {
	border: #1dbffb solid 2px;
	border-radius: 7px;
	margin-bottom: 8px;
}
input[type=submit]{
	width: 405px; 
	height: 40px; 
	font-size: 18px; 
	background-color: #1dbffb; color: white;
}
label{
	color: grey;
	font-size: 18px;
}
::placeholder{
	font-size: 15px;
}
